#Navbar{
    background-color: rgb(110, 110, 110);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

    #left{
        display: flex;
        gap: 20px;
        align-items: center;

        img{
            height: 40px;
        }
        h2{
            margin: 0;
        }
    }

    #right{
        width: 50%;
        ul{
            display: flex;
            justify-content: space-around;

            li{
                font-size: 1.2em;
                font-weight: 500;
            }
        }
    }
}